version: '3.9'

services:
  postgres:
    image: postgres:17
    container_name: areal_hr_postgres
    restart: always
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: 2635
      POSTGRES_DB: areal_hr
    ports:
      - "5433:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
